<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

  <meta charset="UTF-8">
  <title>Me and AI</title>
</head>
<body class="flex flex-col min-h-screen">

<div th:replace="fragments/layout :: header"></div>

<div class="max-w-xl mx-auto p-6">

  <h1 class="text-2xl font-bold mb-4" th:text="#{skill.add.title}"></h1>
  <h3 class="" th:text="#{skill.number.info}"></h3>

  <div th:if="${message}"
       class="alert alert-success shadow-lg mx-4 my-6 rounded-xl border border-success/30 bg-success/10 text-success">
    <span th:text="${message}"></span>
  </div>

  <form th:action="@{'/skill?userId=' + ${userId}}" method="post" class="flex flex-col gap-4">
    <input type="text" name="nome"
           th:placeholder="#{skill.add.placeholder}"
           class="input input-bordered w-full"
           required />

    <button class="btn btn-success w-full" th:text="#{skill.add.button.save}"></button>
  </form>

  <a th:href="@{'/trilha/form/' + ${userId}}" class="btn btn-outline w-full mt-4" th:text="#{skill.add.continue}">

  </a>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>