<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

  <meta charset="UTF-8">
  <title>Me and AI</title>
</head>
<body class="flex flex-col min-h-screen">

<div th:replace="~{fragments/layout :: header}"></div>

<div class="max-w-xl mx-auto p-6 flex-1">

  <!-- Mensagem de sucesso -->
  <div th:if="${message}"
       class="alert alert-success shadow-lg mx-4 my-6 rounded-xl
                border border-success bg-success text-success-content font-semibold">
    <span class="text-green-800 font-medium" th:text="${message}"></span>
  </div>

  <h1 class="text-2xl font-bold mb-4" th:text="#{skill.add.title}"></h1>

  <p class="text-base text-gray-600 mb-4" th:text="#{skill.add.description}"></p>

  <h3 class="font-semibold mb-2" th:text="#{skill.number.info}"></h3>

  <form th:action="@{/skill}" method="post" class="flex flex-col gap-4" th:if="${count < 3}">

    <input type="text" name="nome"
           th:placeholder="#{skill.add.placeholder}"
           class="input input-bordered w-full"
           required />

    <select name="nivel" class="select select-bordered w-full" required>
      <option value="" disabled selected th:text="#{skill.list.level}"></option>
      <option value="INICIANTE" th:text="#{nivel.iniciante}"></option>
      <option value="INTERMEDIARIO" th:text="#{nivel.intermediario}"></option>
      <option value="AVANCADO" th:text="#{nivel.avancado}"></option>
    </select>

    <button class="btn btn-success w-full"
            th:text="#{skill.add.button.save}"
            th:if="${count < 3}">
    </button>

  </form>

  <div class="mt-8">
    <h2 class="text-xl font-bold mb-3" th:text="#{skill.list.title}"></h2>

    <div th:if="${skills.size() == 0}" class="text-gray-500" th:text="#{skill.list.empty}"></div>

    <ul class="space-y-3" th:if="${skills.size() > 0}">
      <li th:each="skill : ${skills}"
          class="p-4 border border-base-300 rounded-xl bg-base-100 shadow-sm flex justify-between items-center">

        <div>
          <div class="font-semibold text-lg" th:text="${skill.nome}"></div>
          <div class="text-sm text-gray-600">
            <span th:text="#{skill.level} + ': '"></span>
            <span th:text="${skill.nivel}"></span>
          </div>
        </div>

        <ul>
          <li>
            <form method="post" th:action="${'/skill/' + skill.id}">
              <input type="hidden" name="_method" value="DELETE" />
              <button class="btn btn-outline mb-4 hover:bg-red-600" th:text="#{delete}"></button>
            </form>
          </li>
        </ul>

      </li>
    </ul>

    <a th:href="@{/trilha/gerar}"
       class="btn btn-info w-full mt-6 font-bold"
       th:if="${count >= 3}"
       th:text="#{skill.add.continue}">
    </a>

  </div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
