<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

    <meta charset="UTF-8">
    <title>Me and AI</title>
</head>
<body class="flex flex-col min-h-screen">

<div th:replace="fragments/layout :: header"></div>

<div class="max-w-xl mx-auto p-6">

    <h1 class="text-3xl font-bold mb-5" >Criar Trilha</h1>
    <p>Skills criadas: <span th:text="${count}"></span>/3</p>


    <form action="/trilha" method="post" class="space-y-4">

        <input type="hidden" name="userId" th:value="${userId}"/>

        <input type="text" name="nome"
               placeholder="Nome da trilha (ex: Transição para Dados)"
               class="input input-bordered w-full" required />

        <label class="block font-semibold mt-4">Etapas</label>

        <input type="text" class="input input-bordered w-full" name="etapasForm" placeholder="Etapa 1">
        <input type="text" class="input input-bordered w-full" name="etapasForm" placeholder="Etapa 2">
        <input type="text" class="input input-bordered w-full" name="etapasForm" placeholder="Etapa 3">

        <button class="btn btn-primary w-full mt-4">Criar Trilha</button>

    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>