<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Me and AI</title>
</head>
<body>
<div th:fragment="menuContent">
  <ul class="menu bg-base-200 rounded-box min-h-screen w-full p-4">
  <li>
    <a>Solutions</a>
    <ul>
      <li><a>Design</a></li>
    </ul>
  </li>
  <li>
    <a>Enterprise</a>
    <ul>
      <li><a>CRM software</a></li>
    </ul>
  </li>
  <li>
    <a>Products</a>
    <a>Company</a>
    <ul>
      <li><a>About us</a></li>
      <li><a>Contact us</a></li>
    </ul>
  </li>
</ul>
</div>
</body>
</html>