<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Me and AI</title>
</head>
<body>
<div th:fragment="menuContent">
  <nav class="navbar bg-base-200 shadow">
      <ul class="menu bg-base-200 rounded-box min-h-screen w-full p-4">
        <li><a href="/index" th:text="#{menu.inicio}"></a></li>
        <li><a th:href="@{/trilhas}" class="btn btn-primary"th:text="#{menu.trilhas}"></a></li>
        <li><a href="/etapas" th:text="#{menu.etapas}"></a></li>
        <li><a href="/chat" th:text="#{menu.chat}"></a></li>
        <li><a href="/about-us" th:text="#{menu.aboutus}"></a></li>
    </ul>
  </nav>
</div>

</body>
</html>