<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
  <meta charset="UTF-8">
  <title>Me and IA</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>
<body class="flex flex-col min-h-screen">

<div th:replace="~{fragments/layout :: header}"></div>

<div class="container mx-auto px-6 py-12 max-w-5xl flex  flex-1 flex-col gap-10">


  <!-- Mensagem de sucesso -->
  <div th:if="${message}"
       class="alert alert-success shadow-lg mx-4 my-6 rounded-xl
            border border-success bg-success text-success-content font-semibold">
    <span class="text-green-800 font-medium"  th:text="${message}"></span>
  </div>


  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-extrabold tracking-tight" th:text="#{home.trilhas.title}"></h1>
  </div>

  <!-- Nenhuma trilha -->
  <div th:if="${trilhas.size() == 0}"
       class="text-gray-500 text-center text-lg py-10 opacity-75" th:text="#{trilhas.none}">
  </div>


  <ul class="space-y-4">
    <li th:each="trilha : ${trilhas}">
      <div class="relative flex justify-between items-center p-4 border border-base-300 rounded-lg hover:bg-base-200 transition">

        <span class="absolute top-0 right-4 translate-x-1/2 -translate-y-1/2 badge badge-primary"
              th:text="${etapasConcluidas[trilha.id] ?: 0} + ' / ' + ${etapasTotais[trilha.id] ?: 0}">
        </span>

        <div class="flex-1">
          <h3 class="font-semibold text-lg" th:text="${trilha.titulo}"></h3>
          <p class="text-sm text-gray-600" th:text="${trilha.descricao}"></p>
        </div>

        <!-- Botões -->
        <div class="flex items-center gap-4">
          <a th:href="@{'/trilha/' + ${trilha.id}}"
             class="btn btn-sm btn-primary hover:border-blue-500 hover:bg-transparent hover:text-blue-500 transition" th:text="#{trilha.details}">
          </a>

          <form method="post" th:action="@{'/trilha/' + ${trilha.id}}" class="inline">
            <input type="hidden" name="_method" value="DELETE" />
            <button class="btn btn-sm btn-outline hover:bg-red-600" th:text="#{delete}"></button>
          </form>
        </div>

      </div>
    </li>
  </ul>

        </div>


      </div>
    </li>

  </ul>

</div>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>