<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
    <meta charset="UTF-8">
    <title>Trilha Gerada pela IA</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

    <style>
        .ai-bubble {
            background: rgba(0,0,0,0.03);
            padding: 1.7rem;
            border-radius: 14px;
            line-height: 1.6rem;
            font-size: 1.07rem;
            white-space: pre-line;
            border-left: 4px solid #9ca3af;
        }
    </style>
</head>

<body class="flex flex-col min-h-screen bg-base-200">

<div th:replace="~{fragments/layout :: header}"></div>

<div class="container mx-auto px-6 py-16 max-w-7xl flex flex-col gap-8">

    <!-- Título -->
    <h1 class="text-5xl  font-extrabold tracking-tight text-base-content"
        th:text="#{trilha.generated.title}">
    </h1>

    <p class="text-lg text-base-content/70"
       th:text="#{trilha.generated.subtitle}">
    </p>

    <div class="bg-base-100 border-l-4 border-primary shadow-lg p-8 rounded-xl whitespace-pre-line">
        <span th:text="${respostaIA}"></span>
    </div>

    <div class="flex items-center gap-4 mt-6">

        <a href="/trilha"
           class="btn btn-primary w-32 font-semibold
              hover:border-primary hover:bg-transparent hover:text-primary
              transition-all duration-300">
            Voltar
        </a>
        <form th:action="@{'/trilha'}" method="post">
            <button type="submit"
                    class="btn btn-success w-40 font-semibold
                       hover:bg-transparent hover:text-success hover:
                       text-primary
                       transition-all duration-300" th:text="#{save}">
            </button>
        </form>

    </div>



</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
