<!DOCTYPE html>
<html lang="en" data-theme="cmyk">
<head>
  <meta charset="UTF-8">
  <title>Me and IA</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>
<body class="flex flex-col min-h-screen">

<div th:replace="~{fragments/layout :: header}"></div>

<div class="container mx-auto px-6 py-12 max-w-4xl flex flex-col gap-6">

  <h1 class="text-4xl font-bold mb-6">Minhas Trilhas</h1>

  <div th:if="${trilhas.size() == 0}" class="text-gray-500">
    Você ainda não possui trilhas criadas.
  </div>

  <ul>
    <li th:each="trilha : ${trilhas}">
      <a th:href="@{'/trilhas/' + ${trilha.id}}" th:text="${trilha.titulo}"></a>
      <p th:text="${trilha.descricao}"></p>
    </li>
  </ul>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>